# fswebcam config file
#
# fswebcam --config [thisfile]
#
# Available Controls                Current Value   Range
# -------------------------------   -------------   -----
# Brightness                        128 (50%)       0 - 255
# Contrast                          32 (12%)        0 - 255
# Saturation                        32 (12%)        0 - 255
# White Balance Temperature, Auto   True            True | False
# Gain                              16 (6%)         0 - 255
# Power Line Frequency              60 Hz           Disabled | 50 Hz | 60 Hz
# White Balance Temperature         10000 (100%)    0 - 10000
# Sharpness                         24 (9%)         0 - 255
# Backlight Compensation            1               0 - 1

set "Brightness"=140
set "Contrast"=80
set "Saturation"=96
set "White Balance Temperature, Auto"=False
set "White Balance Temperature"=2000
set "Sharpness"=0
set "Backlight Compensation"=1

#log ~/fswebcamlog.txt
device /dev/video0
skip 10
jpeg 50
resolution 1280x720
no-banner
verbose
frames 1
#save ~/output.jpg
save /dev/stdout
